    @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

    h1 {
        font-family: "M PLUS Rounded 1c", serif;
        font-weight: 600;
        font-style: normal;
    }

    .active h1 {
        color: white;

    }

    :root {
        --dark: #161616;
        --drop-dark: #222222;
        --light: #f1f1f1;
        --drop-light: #cecece;
        --label: #000000;
    }


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        cursor: url('./Chat_files/Cursor.png'), default !important;
    }


    body.active {
        background-color: var(--dark);
        transition: all 0.5s ease;

    }

    body.active .switcher-label .switcher-toggler {
        left: 56%;
    }

    input[type="checkbox"] {
        opacity: 0;
        display: none;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .active input {
        background-color: #3f3f3f;
        color: #ffffff;
        font-style: var(--light);
        border-radius: 10px;
        padding: 5px;
    }

    .active button {
        background-color: #d4e3f0;
        color: #000000;

    }

    .active #messages {
        background-color: var(--dark);
        border: 3px #000000 ridge;
        border-radius: 10px;
        border-color: #ccc;
        color: #ffffff;
        padding: 10px;
        height: 300px;
        overflow-y: auto;
        transition: background-color 0.5s ease;
        margin-bottom: 10px;
    }

    .active #drop_zone {
        border: 2px dashed var(--light);
        color: var(--light);
        background-color: var(--drop-dark);
        padding-top: 5px;
        border-radius: 10px;
        width: 300px;
        height: 200px;
        text-align: center;
        margin: 10px auto;
        box-shadow: 0px 0px 10px 2px #2196F3,
            0px 0px 0px 1px #ffffff;
        transition: all 0.5s ease;

    }

    body {
        margin: 0px;
        font-family: Arial, sans-serif;
        justify-content: center;
        background-color: var(--light);
        transition: background-color 0.5s ease;
        position: relative;
    }

    #Main {
        margin: 10px;
    }

    #messages {
        background-color: #ffffff;
        border: 3px #000000 ridge;
        border-radius: 10px;
        border-color: #ccc;
        color: #ffffff;
        padding: 10px;
        height: 300px;
        overflow-y: auto;
        margin-bottom: 10px;
        box-shadow: 0px 0px 80px 10px #2196F3,
            0px 0px 10px 2px #ffffff;
    }

    input {
        border-radius: 10px;
        border-color: #ccc;
        color: #000000;
        transition: background-color 0.5s ease;
        padding: 5px;
    }

    button {
        border-radius: 5px;
        font-family: "M PLUS Rounded 1c", serif;
        cursor: pointer;
        padding: 10px 0px;
        border: none;
        background-color: #007bff;
        color: white;
        font-weight: bold;
        transition: background-color 0.5s ease;
    }

    #SendButton {
        padding: 10px;
        background-color: #59ff6f;
        box-shadow: 0px 0px 5px 2px #ffffff, 0px 0px 10px 2px #00ff22;
    }

    #drop_zone {
        border: 2px dashed var(--dark);
        background-color: var(--drop-light);
        padding-top: 5px;
        border-radius: 10px;
        width: 300px;
        height: 200px;
        text-align: center;
        transition: background-color 0.5s ease;
        margin: 10px auto;
    }

    #messageForm {
        display: flex;
    }

    #messageForm input[type="text"] {
        flex: 1;
        margin-right: 5px;
        box-shadow: 0px 0px 7px 0.5px #ffffff, 0px 0px 30px 2px #ccff00;
    }

    #notificationToggle {
        margin-top: 10px;
        color: rgb(155, 155, 155);
        background-color: #a52624c5;
        box-shadow: 0px 0px 10px 6px #a52624c5,
            0px 0px 10px 1px #ffffff;
    }

    #MenuText {
        position: absolute;
        left: 0;
        margin: 6px;
        visibility: hidden;
    }

    #returnButton {
        display: block;
        margin: 10px auto;
        padding: 10px 20px;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 0px 100px 6px #2196F3,
            0px 0px 10px 1px #ffffff;
    }

    #returnButton:hover {
        background-color: #0056b3;
    }


    #error-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 15px;
        border-radius: 5px;
        display: none;
        z-index: 1000;
    }

    .media-preview {
        max-height: 1.5em;
        max-width: auto;
        margin-left: 10px;
        vertical-align: middle;
    }

    .switcher-label {
        background-color: var(--label);
        cursor: pointer;
        width: 60px;
        height: 27px;
        display: flex;
        align-items: center;
        padding: 2px 7px;
        justify-content: space-between;
        border-radius: 30px;
        position: relative;
        margin-bottom: 5px;
        visibility: collapse;
    }


    .switcher-label .switcher-toggler {
        background-color: white;
        width: 25px;
        height: 25px;
        z-index: 1;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 2%;
        transition: all 0.5s ease;
    }


    .switcher-label i {
        font-size: 15px;
    }

    .switcher-label i:first-child {
        color: dodgerblue;
    }

    .switcher-label i:last-child {
        color: gold;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }


    ::-webkit-scrollbar-track {
        background-color: #979797;
        border-radius: 5px;
    }


    ::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 30px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    #name {
        width: 20%;
        margin-right: 5px;
        box-shadow: 0px 0px 7px 0.5px #ffffff, 0px 0px 30px 3px #ff9700;
    }

    #notificationToggle {
        width: 20%;
    }

    #BottomMenu {
        padding: 0px;
        background-color: #d4e3f0;
        color: #fff;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 27px;
        box-shadow: 0px 0px 25px 2px #2196F3,
            0px 0px 10px 1px #ffffff;
        transition: all 0.3s ease;
    }

    #StartButton {
        height: 0px;
        padding: 0px;
        background-color: transparent;
    }

    #StartImg {
        margin-top: auto;
        margin-bottom: auto;
        width: 85px;
    }

    .bottom-menu {
        color: white;
        position: fixed;
        bottom: -60vh;
        /* Скрыто на 60% высоты viewport */
        width: 90%;
        max-width: 250px;
        height: auto;
        /* 60% высоты экрана */
        max-height: 500px;
        background: rgba(94, 94, 94, 0.644);
        transition: bottom 0.3s ease;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        z-index: 1000;
        box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.2);
    }

    .bottom-menu.active {
        bottom: 0;
        margin-bottom: 27px;
    }

    .menu-button {
        position: fixed;
        padding: 15px 15px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        z-index: 1001;
        box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
    }

    .menu-content {
        padding: 5px 20px;
    }

    .menu-content a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #ffffff;
        border-bottom: 1px solid #eee;
        font-size: 18px;
    }

    .menu-content a:hover {
        background: #444444;

    }

    .menu-header {
        padding: 20px;
        border-bottom: 1px solid #eee;
        font-weight: bold;
        font-size: 20px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }

    #ClockBackground {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        width: 75px;
        height: 25px;
        align-items: center;
        background-color: transparent;
        color: #7df9ff;
        border: 1px solid;
        box-shadow: 0px 0px 10px 5px #2196F3,
            0px 0px 10px 1px #ffffff;
        border-radius: 25px;
        transition: all 0.5s ease;

    }

    .animated-dropdown {
        position: fixed;
        right: 0%;
        display: inline-block;
        margin: 2px;
    }

    .dropdown-trigger {
        display: flex;
        justify-content: center;
        /* Горизонтальное центрирование */
        align-items: center;
        background: #2196F3;
        font-size: 12px;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        height: 23px;
    }

    .dropdown-menu {
        position: absolute;
        display: block;
        bottom: 100%;
        left: -30px;
        font-size: small;
        background: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease;
    }

    .animated-dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .menu-item {
        padding: 10px 10px;
        cursor: pointer;
        color: #000000;
        border-bottom: 1px solid #000000;
        transition: background 0.2s;
    }

    .menu-item:hover {
        background: #f5f5f5;
    }

    .menu-item:last-child {
        border-bottom: none;
    }

    #localisation {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: 150px;
        font-size: 15px;
        text-align: center;
        font-size: 20px;
        padding: 21px;
        cursor: pointer;
    }